@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.title_board {
	width: 100%;
	height: 230px;
	padding-top: 80px;
}

.title {
	width: 350px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	border-top: 3px solid #A9A9A9;
	border-bottom: 3px solid #A9A9A9;
	padding-top: 20px;
}

.title li {
	list-style-type: none;
	font-weight: bold;
	font-size: 25px;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', Arial, sans-serif, 'Nanum Gothic';
	text-align: center;
}

.view_board {
	width: 100%; 
	padding: 50px 0;
}

.view_board_2 {
	width: 60%;
	margin: 0 auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: keep-all;
}

tr {
	display: table-row;
	width: 100%;
	float: left;
}

.view_table th {
	color: #000000;
	height: 40px;
	font-weight: bold;
	font-size: 14px;
	padding: 6px 0;
	font-family: sans-serif;
}

.view_table td {
	font-size: 13px;
	padding-top: 5px;
	padding-left: 17px;
	height: 40px;
	font-family: "Nanum Gothic", 돋움;
}

#t_title{
	width: 1200px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-top: 3px solid #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
}

.t_box{
	width: 60px;
	text-align: right;
	border-bottom: 2px solid #e5e5e5;
}

#t_writer{
	width: 920px;
	border-bottom: 2px solid #e5e5e5;
}

#t_date{
	width: 120px;
	border-bottom: 2px solid #e5e5e5;
}

#t_box_hit{
	width: 40px;
	text-align: right;
	border-bottom: 2px solid #e5e5e5;
}

#t_hit{
	width: 50px;
	border-bottom: 2px solid #e5e5e5;
}

#t_con{
	width: 1140px;
	border-bottom: 3px solid #e5e5e5;
}

.b_btn{
	margin-top: 15px;
}

.b_btn a{
	display: inline-block;
	width: 70px;
    height: 30px;
    padding-top: 3px;
    line-height: 20px;
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(99, 99, 99);
    border: 1px solid rgb(214, 214, 214);
    border-image: initial;
    background-color: rgb(255, 255, 255);
}

.b_btn a:hover{
	color: white;
	font-weight: bold;
    text-decoration: none;
	background-color: gray;
}

#b_list {
	float: right;
}

footer {
	width: 100%;
	height: 150px;
	margin-top: 50px;
	background-color: lime;
}