@charset "UTF-8";

	* {
		margin: 0;
		padding: 0;
	}
	#mapMenu {
	 width: 20%;
	 height: 910px;
	 float: left;
	 margin-top: 64px;
     background-color: blue;
     display: inline-block;
	}
	#map {
      	width: 80%;
        height: 910px;
        float: right;
        margin-top: 64px;
	}