@charset "UTF-8";
	* {
		margin: 0;
		padding: 0;
	}

	header {
		width: 2000px;
		height: 64px;
		position: fixed;
		top: 0px;
		z-index: 990;
<<<<<<< HEAD
		margin-left: 70px;
		top: 0px;
=======
	
>>>>>>> master
	}
	#mainMenu {
		width:920px;
		height: 64px;
		margin-left: 400px;
		float: left;
	}
	#logo {
		margin-top: 15px;
		float: left;
<<<<<<< HEAD
		margin-left: 270px;
		padding-top: 30px;
	}
	#category{
		background-color: white;
		width: 600px;
		height: 50px;
		margin-left: 550px;
		top: 0px;
=======
	}
	#category{
		margin-bottom: 100px;
		float: left;
		padding-left: 70px;
		
>>>>>>> master
	}
	
	nav li {
		float: left;
		list-style: none;
		margin-right: 80px;
		height: 64px;
		line-height: 64px;
		font-size: 1.0em;
		font-weight: bold;
		
	}
	nav a {
		color:black;
<<<<<<< HEAD
=======
		text-decoration: none;
>>>>>>> master
	}
	
	nav a:hover{
		color: cyan;
	}
	
	#memberMenu {
<<<<<<< HEAD
		width: 150px;
		height: 40px;
		background-color: white;
		float: right;
		padding-top: 35px;
		margin-left: 50px;
	
=======
		padding-top: 15px;
		width: 200px;
		height: 64px;
		float: left;
>>>>>>> master
		
	}