@charset "UTF-8";

	* {
		margin: 0;
		padding: 0;
	}
	#folder {
		width: 40px;
		height: 40px;
		z-index: 990;
		margin-top: 10px;
		float: left;
		position: absolute;
		background-image: url("../images/mapimage/close-btn.png");
		
	}
	#map1 {
		width: 100%;
		height: 910px;
        display: inline-block;
        z-index: 1;
        float: right;
	}