@charset "UTF-8";
#myPageAll{
	padding-top:200px;
	padding-left:500px;
	background-color: blue;
	width:2000px;
	height:1000px;
}
#myPage{
	background-color:red;
	width:900px;
	height:500px;
}

#myPage div{
	float:left;
	padding-left:45px;
	padding-top:30px;
	margin-top:50px;
	margin-left:50px;
	background-color: #f6f6f6;
	width:150px;
	height:150px;
	
}
 
 h4{
 	color:black;
 }
 h5{
 	color:black;
 }
 
  div :hover{
  	color: red;
  	text-decoration: none;
  }