@charset "UTF-8";

.kate_board {
	width: 1903px;
	height: 50px;
	background-color: black;
}

.kate_line {
	width: 1500px;
	height: 50px;
	margin: 0 auto;
}

.kate_line li {
	float: left;
	width: 300px;
	text-align: center;
	list-style-type: none;
	cursor: pointer;
	padding: 16px 0 13px;
	font-size: 15px;
	font-family: monospace;
	font-weight: bold;
}
li a {
	color: white;
    text-decoration: none;
}
ul a:hover{
	color: yellow;
	text-decoration: none;
}